body {
    background-color: #FFFBC1;
}
.App {
    margin-left: 150px;
}
video {
    object-fit: cover;
    width: 900px;
    height: 100vh;
    position: fixed;
    top: 0;
    z-index: -1;
}
.videoBox {
    display: flex;
    justify-content: right;
}
form {
   padding: 20px;
}
input {
    padding: 10px;
    width: 250px;
    border: none;
    font-family: 'Raleway', sans-serif;
}
button {
    padding: 10px;
    background-color: #B6E2A1;
    border: none;
    font-family: 'Raleway', sans-serif;
}
img {
    border: solid 5px #FEBE8C;
}
h1, h2, p, li {
    font-family: 'Raleway', sans-serif;
}
ul {
    margin-bottom: 50px;
    max-width: 300px;
}
@media all and (max-width: 1300px) {
    .App {
        margin-left: 50px;
    }
    img {
        width: 250px;
    }
    video {
        width: 800px;
    }
    h2 {
        max-width: 300px;
    }
}
@media all and (max-width: 1100px) {
    video {
        width: 400px;
    }
    h2 {
        max-width: 300px;
    }
}
@media all and (max-width: 800px) {
    video {
        display: none;
    }
    h2 {
        max-width: 300px;
    }
}
@media all and (max-width: 500px) {
    video {
        display: none;
    }
    .App {
        margin-left: 50px;
    }
    img {
        width: 200px;
    }
    input {
        width: 150px;
    }
    ul {
        max-width: 200px;
    }
}
    
